In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [2]:
cookies = ['a','b','c','d','e']
position = cookies.index('e')
position

4

In [3]:
#newcookies =  cookies.pop(4)
#newcookies 


print(cookies, "\n\t",len(cookies))

['a', 'b', 'c', 'd', 'e']
	 5

In [4]:
print(newcookies)

NameError: name 'newcookies' is not defined

In [ ]:
cookies

In [ ]:
convert_list_to_set = set(cookies)
convert_list_to_set

In [ ]:
convert_set_into_list = list(convert_list_to_set)
convert_set_into_list

In [ ]:
convert_list_to_set.add('vs')

In [ ]:
convert_list_to_set.add('vx')

In [ ]:
convert_list_to_set

In [ ]:
convert_list_to_set.update('xx','yy','yes','1','33')

In [ ]:
convert_list_to_set

In [ ]:
first_set = {'vx', 'x', 'y'}
second_set = {'x', 'y','yy'}
second_set.difference(first_set)

In [ ]:
first_set.intersection(second_set)

In [ ]:
first_set.union(second_set)

In [ ]:
 dictionary = {"Assie":12, "oliver":30,'nacisse':40}
dictionary.keys()

In [ ]:
print(dictionary.get("Ass","kouassi"))

In [ ]:
 dictionary

In [ ]:
for Assie, oliver in dictionary.items():
    print(Assie)
    print(oliver)

In [ ]:
'Asse' in dictionary

In [ ]:
for key,value in dictionary.items():
    print(key,':',value)

In [ ]:
x = 10

In [ ]:
print(x)

In [ ]:
print('Hello World')

## how to create a DataFrame __(1)__ __dict_of_list__
#### Using __lists__ inside a __dictionary__ 
#### 1) each __Key__ = column name
#### 2) each __Value__ = list of column values

In [ ]:
dogs = pd.DataFrame({
    'Name':[
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Camelo Anthony',
        'Kobe Bryant'
    ],
    'Post':['SG',
            'SF',
            'SG',
            'SF',
            'SG'
        
    ]
    ,
    'weight_kg':[24.87,
            24.13,
            25.95,
            1.51,
            24.87
        
    ]
})

In [ ]:
dogs

In [ ]:
jk = dogs.drop_duplicates(subset=['Name','weight_kg'])

In [ ]:
dogs['Name'].value_counts()

In [ ]:
jk['Name'].value_counts()

In [ ]:
jk

## How to create a DataFrame __(2)__  __List_of_diction__

#### Using __dictionaries__ inside a __list__

In [ ]:
data = [
    { 'name':'Ginger','breed':'Dachshund','height_cm':22, 'weight_kg':10,
    'date_of_birth':'2019-03-14'},
    { 'name':'Scout','breed':'Dalmatan','height_cm':59, 'weight_kg':25,
    'date_of_birth':'2019-05-09'},
    
]

In [ ]:
data

In [ ]:
da = pd.DataFrame(data)

In [ ]:
da.head()

In [ ]:
da.shape

In [ ]:
da.describe()

In [ ]:
da.columns

In [ ]:
da.index

In [ ]:
da

In [ ]:
change_index = da.set_index('name')

In [ ]:
change_index

In [ ]:
change_index['breed']

## How to __groupby()__ name or any column name  and calculate the mean.

In [ ]:

da.groupby('name')['weight_kg'].mean()

## __agg()__ method, ([__min__, __max__, __sum__])

In [ ]:
da.groupby('name')['weight_kg'].agg([min, max, sum])

## we can group by multiple column and calculate the __mean()__

In [ ]:
dogs

In [ ]:
dogs.groupby(['Name','Post'])['weight_kg'].mean()

In [ ]:
dogs.isna().sum()
## this mean no missing value.

In [ ]:
dogs.isna().any()

In [ ]:
dogs.isna().sum().plot(kind ='bar')
plt.show()
## empty graphSheet mean no missing value

In [ ]:
dogs.loc[2]

## the method __mean()__ takes two arguments mean( axis = 'index') __or__  mean( axis = 'columns')

### it helps to calculate the mean __rows_wise__ or __columns_wise__

In [ ]:
dogs

# How to used the __pivot_table()__ method and  calculate __mean()__ of specific column.


#### the method takes two argument min, __pivot_table__( values ='', index = '')

#### it's used to group by kind

In [ ]:
dogs.pivot_table( values = 'weight_kg', index ='Post')

# pivot_table() method can take 4 arguments

# dogs.pivot_table( values = 'weight_kg', index ='Post',columns ='', fill_value = 0)
# columns = 'chooseColumn', fill_value = to replace NAN value

In [ ]:
dogs.pivot_table( values = 'weight_kg', index ='Post',columns ='Name',fill_value = 0,margins = True)



### dogs.pivot_table( values = 'weight_kg', index ='Post',columns =' ', fill_value = 0, margins = True)




##### columns = 'chooseColumn', fill_value = to replace NAN value




### __margins = True__ / this will calculate the mean of each row non-included the zero value


# __aggfunc__ function to calculate also the __mean__ and the __median()__

In [ ]:
# example

dogs.pivot_table( values = 'weight_kg', index ='Post', aggfunc = [np.mean, np.median])

In [ ]:
let_plot = dogs.pivot_table(values = 'weight_kg', index ='Post', aggfunc = [np.mean, np.median])

In [ ]:
let_plot.plot(kind ='bar')

# How to send the cleaned to a new __csv file__ (filename.csv)

In [ ]:
# 1) exampe

new_dog = dogs.pivot_table( values = 'weight_kg', index ='Post', aggfunc = [np.mean, np.median])

In [ ]:
new_dog.to_csv('new_dog_file.csv')

In [ ]:
ls

In [ ]:
delta_data = pd.read_csv('new_dog_file.csv')

In [ ]:
delta_data

In [ ]:
# 2) example

clean_data = dogs.pivot_table( values = 'weight_kg', index ='Post',columns ='Name',fill_value = 0,margins = True)

In [ ]:
clean_data

In [ ]:
##clean_data.to_csv('clean_data.csv')

In [ ]:
x = print('hello')

In [ ]:
t = 0

In [ ]:

while t <10 :
    print('hello')
    t+=1

# for loop with __break__

In [ ]:



y = [0,1,2,3,4,5]
for x in y :
    print(x)
    if x == 4:
        break

# for loop with __continue__

In [ ]:

y = [1,2,3,4,5]
for x in y :
    if x == 4:
        continue
    print(x)

# while loop with __break__

In [ ]:

x = 10
y = 0 
while y < x:
    print(y)
    y +=1
    if (y == 5):
        break

# while loop with __continue__

In [ ]:

x = 10
y = 0 
while y < x:
    y+=1
    if (y == 5):
        continue
    print(y)

# any muliplcation __table__

In [ ]:


x = 10
y = 0 
while y < x :
    y+=1
    print(y * 100)

In [ ]:
## second kind of break with for loop

for x in range(0,40,3):
    if x == 21:
        break
    print(x)

In [ ]:
## second kind of continue with for loop

for x in range(0,40,3):
    if x== 9 or x == 21 or x == 39:
        continue
    print(x)

In [ ]:
v = [10,20,'nan','oliver','yes',200,0,44]

In [ ]:
for x in v :
    if  x == 'yes':
        continue
    print(x)

In [ ]:
v

In [ ]:
def arg(x, y):
    return(x**y)

In [ ]:
var1 = arg(5,2)

In [ ]:
def result(x):
    return var1/x

In [ ]:
result(2)

In [ ]:
5**5

In [ ]:
3125/5

# How to find the __prime__ mumbers

In [ ]:
# 1. number should be greater than 1
# 2. start loop from 2

# break the loop where the remainder is zero

In [8]:
def prime1(num):
    if  num > 1:
        for i in range(2,num):
            if num %i == 0:
                print('Not a prime number')
                break
        else:
            print(num,':is a prime number')
    else:
        print(num , 'is not prime')

In [10]:
prime1(8)

Not a prime number

In [16]:
## repeated function prime

def prime2(num):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                print(num,' is not prime number2 ')
                break;
            else:
                print(num ,'is a prime number ')
    else:
        print(num, 'is not prime number1')

In [17]:
prime2(4)

4  is not prime number2