In [1]:
# Creatig date objects

In [2]:
from datetime import date

In [3]:
## Create  dates

two_hurricanes_dates = [ date(2016, 10, 17),date(2017, 6, 21)]

In [4]:
two_hurricanes_dates[1].weekday()

# .year, .month, .day,.weekday()

2

In [5]:
d1 = date(2016, 10, 17)
d2 = date(2017, 6, 21)

In [6]:
l = [ d1, d2]

In [7]:
max(l)

datetime.date(2017, 6, 21)

In [8]:
delta = d2 - d1

In [9]:
delta.days

247

In [10]:
from datetime import timedelta

In [11]:
delta + d1

datetime.date(2017, 6, 21)

In [12]:
# or we do it on this way
dek = timedelta(days = 247)

In [13]:
date_is = d1+dek

In [14]:
date_is

datetime.date(2017, 6, 21)

# Turning __dates__ into a __string__ and make it easy to read !

In [15]:
## ISO = Stands for International Orgainization yyyy-mm-dd

d = date(2017,11,5)
print(d)

2017-11-05

In [16]:
## convert it into a string

print([d.isoformat()])

['2017-11-05']

# ISO __8601__ format have more advanges , it can sort dates in csv file

In [17]:
some_dates = ['2000-01-01','1999-12-31']

In [18]:
sorted_dates = sorted(some_dates)

In [19]:
sorted_dates

['1999-12-31', '2000-01-01']

In [20]:
some_dates.remove(d)

ValueError: list.remove(x): x not in list

In [ ]:
some_dates

##  Every other format : __strftime__

In [23]:
ds = date(2017,1,5)

In [24]:
print(ds.strftime('%Y'))

2017

In [25]:
print(ds.strftime('The Year is : %Y'))

The Year is : 2017

In [ ]:
# format: YYYY/MM/DD

print(d.strftime('%Y/%m/%d'))

# diff bw Y and y / you can check it

# printing and __parsing__ datetimes

In [26]:
import datetime as dt

In [27]:
# create datetime

dtt = dt.datetime(2020, 12, 30, 15, 19, 13)

In [28]:
print(dtt.strftime('%Y-%m-%d'))

2020-12-30

In [29]:
print(dtt.strftime('%Y-%m-%d %H:%M:%S'))

2020-12-30 15:19:13

In [30]:
## another format
print(dtt.strftime(' %H:%M:%S on %Y-%m-%d'))

 15:19:13 on 2020-12-30

#### Using __ISO 8601__ format

In [31]:
print(dtt.isoformat())

2020-12-30T15:19:13

 
# Parsing datetimes with __strptime()__ method
#### string parse time

In [32]:
from datetime import datetime

In [33]:
dt1 = datetime.strptime("12/30/2021 15:19:13","%m/%d/%Y %H:%M:%S")

In [34]:
print(dt1)

2021-12-30 15:19:13

In [37]:
gs =datetime.fromtimestamp(4436547634)

In [38]:
print(gs)

2110-08-04 03:50:34

# Working with __durations__

In [39]:
start = datetime(2017,10,8,23,46,47)
end = datetime(2017,10,9,0,10,57)

In [40]:
# Substract datetimes to create timedelta

duration = end - start

#### When we called the method __total_seconds()__

In [45]:

print(duration.total_seconds(),'seconds')
print(duration.total_seconds() / 60,'minutes')

## divide by 60 to get the result in minutes
# very useful the converting the number of seconds into munutes

1450.0 seconds
24.166666666666668 minutes

### We can also create __timedeltas__ , which is unknown

In [ ]:
from datetime import timedelta

In [ ]:
# create a timedelta

delta1 = timedelta(seconds =3 )

In [ ]:
print(delta1 + start)

## result will be the start day plus 3 seconds later.

#### __Negative__ timedeltas   the __weeks__ before the current day

In [46]:
## let create a negative timedelta of one week

delta3 = timedelta(weeks = -1)

In [48]:
print(start),delta3

2017-10-08 23:46:47

(None, datetime.timedelta(days=-7))

In [49]:
print(start + delta3)

2017-10-01 23:46:47

#### __Positive__ timedeltas   the __weeks__ before the current day

In [50]:
delta4 = timedelta(weeks = 1)

In [51]:
print(start),  delta4

2017-10-08 23:46:47

(None, datetime.timedelta(days=7))

In [53]:
print(start - delta4)

# This show clear  how the create  timedelta

2017-10-01 23:46:47

# All our clocks are set from the __UTC__ which is US standard

In [54]:
# Improve relevant classes 

from datetime import datetime, timedelta, timezone

In [63]:
EST_us = timezone(timedelta(hours = 5,minutes = 110,seconds= 30))

In [64]:
print(EST_us)

UTC+06:50:30

In [ ]:
### From our data __start__ , we wanna know , what was IST ??? ( India Standard Time)

In [66]:
## create timezone object first


IST = timezone(timedelta(hours = 4, minutes = 30))


# convert start to IST by using the astimezone() method.

##### By using the astimezone() method.

In [67]:
IST

datetime.timezone(datetime.timedelta(seconds=16200))

In [74]:
restult1 = start.astimezone(IST)

In [75]:
print(restult1)

2017-10-08 22:46:47+04:30

In [76]:
print(start)

2017-10-08 23:46:47

In [77]:
# Or change the original to match UTC

print(start.astimezone(timezone.utc))

## the data time  - (5hours 30minutes) IST , Inida Standard Time

2017-10-08 18:16:47+00:00

# Time zone database

In [ ]:
## Imports

from datetime import datetime
from dateutil import tz

#### By using __gettz()__ method.

In [ ]:
# Eastern time
et = tz.gettz('America/New_York')

In [ ]:
print(et)

In [ ]:
last = datetime(2021,3,5,10,26,5,tzinfo = et)

In [ ]:
print(last)

# Exercies on __dates__ using pandas

In [ ]:
import pandas as pd

In [ ]:
ls

In [ ]:
data_set = pd.read_csv('service_data_set.csv')

In [ ]:
data_set.head(8)