In [1]:
# Creatig date objects

In [2]:
from datetime import date

In [3]:
## Create  dates

two_hurricanes_dates = [ date(2016, 10, 17),date(2017, 6, 21)]

In [4]:
two_hurricanes_dates[1].weekday()

# .year, .month, .day,.weekday()

2

In [5]:
d1 = date(2016, 10, 17)
d2 = date(2017, 6, 21)

In [6]:
l = [ d1, d2]

In [7]:
max(l)

datetime.date(2017, 6, 21)

In [8]:
delta = d2 - d1

In [9]:
delta.days

247

In [10]:
from datetime import timedelta

In [11]:
delta + d1

datetime.date(2017, 6, 21)

In [12]:
# or we do it on this way
dek = timedelta(days = 247)

In [13]:
date_is = d1+dek

In [14]:
date_is

datetime.date(2017, 6, 21)

# Turning __dates__ into a __string__ and make it easy to read !

In [15]:
## ISO = Stands for International Orgainization yyyy-mm-dd

d = date(2017,11,5)
print(d)

2017-11-05

In [16]:
## convert it into a string

print([d.isoformat()])

['2017-11-05']

# ISO __8601__ format have more advanges , it can sort dates in csv file

In [17]:
some_dates = ['2000-01-01','1999-12-31']

In [18]:
sorted_dates = sorted(some_dates)

In [19]:
sorted_dates

['1999-12-31', '2000-01-01']

In [20]:
some_dates.remove(d)

ValueError: list.remove(x): x not in list

In [ ]:
some_dates

##  Every other format : __strftime__

In [ ]:
ds = date(2017,1,5)

In [ ]:
print(ds.strftime('%Y'))

In [ ]:
print(ds.strftime('The Year is : %Y'))

In [ ]:
# format: YYYY/MM/DD

print(d.strftime('%Y/%m/%d'))

# diff bw Y and y / you can check it

# printing and __parsing__ datetimes

In [ ]:
import datetime as dt

In [ ]:
# create datetime

dtt = dt.datetime(2020, 12, 30, 15, 19, 13)

In [ ]:
print(dtt.strftime('%Y-%m-%d'))

In [ ]:
print(dtt.strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
## another format
print(dtt.strftime(' %H:%M:%S on %Y-%m-%d'))

#### Using __ISO 8601__ format

In [ ]:
print(dtt.isoformat())

 
# Parsing datetimes with __strptime()__ method
#### string parse time

In [ ]:
from datetime import datetime

In [ ]:
dt1 = datetime.strptime("12/30/2021 15:19:13","%m/%d/%Y %H:%M:%S")

In [ ]:
print(dt1)

In [ ]:
gs =datetime.fromtimestamp(4436547634)

In [ ]:
print(gs)

# Working with __durations__

In [54]:
start = datetime(2017,10,8,23,46,47)
end = datetime(2017,10,9,0,10,57)

In [ ]:
# Substract datetimes to create timedelta

duration = end - start

#### When we called the method __total_seconds()__

In [ ]:

print(duration.total_seconds(),'seconds')
print(duration.total_seconds() / 60,'minutes')

## divide by 60 to get the result in minutes
# very useful the converting the number of seconds into munutes

### We can also create __timedeltas__ , which is unknown

In [50]:
from datetime import timedelta

In [ ]:
# create a timedelta

delta1 = timedelta(seconds =3 )

In [ ]:
print(delta1 + start)

## result will be the start day plus 3 seconds later.

#### __Negative__ timedeltas   the __weeks__ before the current day

In [ ]:
## let create a negative timedelta of one week

delta3 = timedelta(weeks = -1)

In [ ]:
print(start),delta3

In [ ]:
print(start + delta3)

#### __Positive__ timedeltas   the __weeks__ before the current day

In [52]:
delta4 = timedelta(weeks = 1)

In [55]:
print(start),  delta4

2017-10-08 23:46:47

(None, datetime.timedelta(days=7))

In [ ]:
print(start - delta4)

# This show clear  how the create  timedelta

# All our clocks are set from the __UTC__ which is US standard

In [45]:
# Improve relevant classes 

from datetime import datetime, timedelta, timezone

In [46]:
EST_us = timezone(timedelta(hours = 5,minutes = 110,seconds= 30))

In [47]:
print(EST_us)

UTC+06:50:30

In [ ]:
### From our data __start__ , we wanna know , what was IST ??? ( India Standard Time)

In [ ]:
## create timezone object first


IST = timezone(timedelta(hours = 4, minutes = 30))


# convert start to IST by using the astimezone() method.

##### By using the astimezone() method.

In [ ]:
IST

In [ ]:
restult1 = start.astimezone(IST)

In [ ]:
print(restult1)

In [ ]:
print(start)

In [ ]:
# Or change the original to match UTC

print(start.astimezone(timezone.utc))

## the data time  - (5hours 30minutes) IST , Inida Standard Time

# Time zone database

In [ ]:
## Imports

from datetime import datetime
from dateutil import tz

#### By using __gettz()__ method.

In [ ]:
# Eastern time
et = tz.gettz('America/New_York')

In [ ]:
print(et)

In [ ]:
last = datetime(2021,3,5,10,26,5,tzinfo = et)

In [ ]:
print(last)

# Exercies on __dates__ using pandas

In [22]:
import pandas as pd

In [23]:
info_url = 'https://raw.githubusercontent.com/dsrscientist/dataset1/master/service_dataset.csv'

## How to parse __Dates__ with pandas

In [24]:
data = pd.read_csv(info_url, parse_dates=['Created Date','Closed Date'])

In [ ]:
data.head(8)

In [ ]:
data['Created Date'].min()

In [ ]:
data['Created Date'].max()

In [ ]:
data['Created Date'].iloc[2]

### let create a new column to our base data_set

In [25]:
data['Duration'] = data['Closed Date'] - data['Created Date']

In [ ]:
#data

In [26]:
data['Duration'].max()

Timedelta('0 days 02:45:14')

In [ ]:
data['Duration'].min()

In [ ]:
data['Duration'].head(7)

#### Converting our duration into __second__

In [ ]:
# Converting our duration into second.

## Using the back slash better reading purpose yes nothing else.

data['Duration']\
  .dt.total_seconds()\
  .head(6)

In [ ]:
data['Duration'].mean()

In [ ]:
belt = data['Duration']

In [ ]:
assis =pd.notna(belt)

In [ ]:
df.dropna(axis = 1)

In [ ]:
data['Duration'].dropna()

In [29]:
data1 = data['Duration'].fillna( method ='bfill')

In [31]:
data['Duration_clc_able'] = data['Duration'].fillna( method ='bfill')

In [32]:
data.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Duration,Duration_clc_able
0,26589651,2013-10-31 02:08:41,NaT,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432.0,90-03 169 STREET,169 STREET,90 AVENUE,91 AVENUE,NaN,NaN,ADDRESS,JAMAICA,NaT,0 days 00:40:08
1,26593698,2013-10-31 02:01:04,NaT,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378.0,58 AVENUE,58 AVENUE,58 PLACE,59 STREET,NaN,NaN,BLOCKFACE,MASPETH,NaT,0 days 00:40:08
2,26594139,2013-10-31 02:00:24,2013-10-31 02:40:32,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032.0,4060 BROADWAY,BROADWAY,WEST 171 STREET,WEST 172 STREET,NaN,NaN,ADDRESS,NEW YORK,0 days 00:40:08,0 days 00:40:08
3,26595721,2013-10-31 01:56:23,2013-10-31 02:21:48,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023.0,WEST 72 STREET,WEST 72 STREET,COLUMBUS AVENUE,AMSTERDAM AVENUE,NaN,NaN,BLOCKFACE,NEW YORK,0 days 00:25:25,0 days 00:25:25
4,26590930,2013-10-31 01:53:44,NaT,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027.0,WEST 124 STREET,WEST 124 STREET,LENOX AVENUE,ADAM CLAYTON POWELL JR BOULEVARD,NaN,NaN,BLOCKFACE,NEW YORK,NaT,0 days 00:14:30

In [33]:
data['Duration_clc_able'].mean()

Timedelta('0 days 01:04:48.448979591')

In [35]:
data['Duration_in_seconds'] = data['Duration_clc_able'].dt.total_seconds()

In [40]:
#data

In [37]:
data.groupby('Agency')['Duration_in_seconds'].mean()

Agency
DOHMH    4898.750000
DOT      5412.200000
NYPD     3621.842105
TLC      3124.000000
Name: Duration_in_seconds, dtype: float64

In [39]:
data.groupby('Agency')['Duration_in_seconds'].max()

Agency
DOHMH    9914.0
DOT      7819.0
NYPD     9914.0
TLC      5726.0
Name: Duration_in_seconds, dtype: float64

In [58]:
pen_time = data['Duration_in_seconds'] / 60

In [62]:
# pen_time

# Average duration per month using __resample()__ method

In [64]:
data.resample('M', on = 'Created Date')['Duration_in_seconds'].mean()

# This will groupby month , but since our dataset from the same month the result will be unique

Created Date
2013-10-31    3888.44898
Freq: M, Name: Duration_in_seconds, dtype: float64

In [65]:
## We can also check the Size per group


data.groupby('Agency').size()

Agency
DOHMH     4
DOT       5
NYPD     38
TLC       2
dtype: int64

In [68]:
# First also is to get the first Row of each group



data.groupby('Agency')['Agency Name'].first()

Agency
DOHMH    Department of Health and Mental Hygiene
DOT                 Department of Transportation
NYPD             New York City Police Department
TLC                Taxi and Limousine Commission
Name: Agency Name, dtype: object

# Other __datetime operations__ in __Pandas__

In [76]:
# Year of the first three rows of Created Date

.head(3)\
.dt.year
data['Created Date']\
.head(3)\
.dt.year

0    2013
1    2013
2    2013
Name: Created Date, dtype: int64

In [94]:
# See weekdays  of the first three rows of Created Date

data['Created Date']\
.head(3)\
.dt.weekday

0    3
1    3
2    3
Name: Created Date, dtype: int64

## Conclusion:

#### The __datetime()__ classe takes all the arguments of __date()__, plus an hour, minutes,seconds
#### and microsecond
#### . All. of the additional arguments are optional; otherwise, they're set to zero by default
#### .You can replace any values in datetime with __.replace()__ method
#### .Convert __timedelta__ into an interger with __.total_seconds()__ method
#### .Turn strings int dates with __.strptime()__ method and turn dates into strings with __.strftime()__.

## other method like __datetime()__ ,__tzinfo()__ , __astimezome()__ and __dateutil.tz__, pares_dates, and __pd.to_datetime()__

### Grouping rows with __.groupby()__ method lets you calculate aggregates per group.
### For example __.first()__, __.min()__, __.mean()__
### .Use __.tz_localize()__ to set a timezone, keeping the date and time the same
### .Use __.tz_convert()__ to change the date and tme to mach a new timezone

## Exercise

In [96]:
# October 1 2017, 3 at 3:23:25 PM

# October = 10th month

# 3 pm = 15th hours of the day, because the  compute understand 24 hours per day

from datetime import datetime

In [97]:
dt = datetime(2017, 10, 1, 15, 23, 25)

##### you can also be more explicite

In [98]:
dt = datetime(year = 2017, month = 10, day = 1, hour = 15, minute = 23, second =  25, microsecond = 100000)

In [99]:
print(dt)

2017-10-01 15:23:25.100000

##### we can use the __replace()__ to repalce some parameters of the date __Object__

In [101]:

dt_hr = dt.replace(minute = 0, second = 0, microsecond = 0)

In [103]:
print(dt_hr)

2017-10-01 15:00:00

In [106]:
## Creating a timedelta two weeks before the event

key = timedelta(weeks = -2)

In [107]:
print( dt_hr + key)

2017-09-17 15:00:00

## Starting __Daylight__ or __Saving Time__

In [109]:
## creating datetime object called spring_day

spring_day1 = datetime(2017, 3, 12, 1, 59, 59)

spring_day1.isoformat()

'2017-03-12T01:59:59'

In [110]:
spring_day2 = datetime(2017, 3, 12, 3, 0, 0)

spring_day2.isoformat()

'2017-03-12T03:00:00'

In [111]:
diff_info = (spring_day2 - spring_day1).total_seconds()

In [112]:
print(diff_info)

3601.0

## Using __dateutil__

In [113]:
from dateutil import tz

In [115]:
## cretae eastern timezone

eastern = tz.gettz('America/New_York')

In [116]:

## 2017-03-12T01:59:59 in Eastern Time (EST)

spring_dxx = datetime(2017, 3, 12, 1, 59, 59, tzinfo = eastern)

In [117]:
##  '2017-03-12T03:00:00' in Eastern Time (EST)

spring_dyy = datetime(2017, 3, 12, 3, 0, 0, tzinfo = eastern)

In [118]:
print(spring_dyy - spring_dxx)

1:00:01

# WELL DONE WILL DATES