# __Docstring__ it is used to give the details about your function

In [1]:
def square( value):
    """ This function return square of a value. """
    new_value = value ** 2
    return new_value

In [2]:
square(8)

64

In [3]:
def raise_both(value1, value2):
    """ Raise both values. """
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    new_tuple = (new_value1, new_value2)
    return new_tuple

In [4]:
raise_both(3,2)

(9, 8)

### We can declare a __global__ scope variable in the function using the __keyword__ ( __global__ )

In [5]:
new_val =10
## after declaration make it available in the function global.
def square(value):
    """ Return the square of a value. """
    global new_val
    new_val = new_val ** 2
    return new_val

In [6]:
square(new_val)

100

In [7]:
new_val

100

## Nested functions __(1)__

In [28]:
# syntax:

def outer(x1,x2,x3):
    """ Return the remainder plus 5 of three input value. """
    
    
    def inner_fuct(x):
        
        return x % 2 + 5
        
    return (inner_fuct(x1),inner_fuct(x2),inner_fuct(x3))

In [14]:
outer(8,78,7 )

(5, 5, 6)

# Flexible arguments : __*args__

In [17]:
def add_all(*arg_numbers):
    """ Sum all values in *args together"""
    # Initialize sum
    sum_all = 0
    
    # accumulate the sum
    for num in arg_numbers:
        sum_all += num
    return sum_all

In [18]:
add_all(12,2,1,5,1)

21

# Flexible arguments : __**kwargs__

In [43]:
def print_all (**kwargs):
    for key, value in kwargs.items():
        print(key + "\t : "+ value)

In [44]:
 print_all(name = " oliver",job = "headmaster")

name	 :  oliver
job	 : headmaster

## Quick way to write a function using __lambda__ function

In [59]:
val =[1,2,3,4]

In [60]:

square1 = lambda x: x ** 2

In [69]:
check = map(square1,val)

In [70]:
check

In [73]:
result = list(map(square1,val))

In [74]:
result

[1, 4, 9, 16]

In [75]:
 sqr = lambda x: x ** 0.5

In [80]:
sqr(9)

3.0

In [96]:
 def sqr2( x):
        """ Rerturn square root of the given number ( +ve ) """
        if x < 0 :
            raise ValueError('x should a positive number')
        try:
            return x ** 0.5
        except TypeError:
            print('input value should be a number')

In [99]:
sqr2(6)

2.449489742783178


# How to create an __interator__ in python ?

In [110]:
yes = 'OLIVIER'

In [111]:
it = iter(yes)

In [112]:
print(*it)

O L I V I E R

# How to interating __over file__ connection ?

file = open('fileName')
it = iter(file)
print(next(it))

// This is the first line of the open file.

print(next(it))

// This is the second line of the open file.

# How to used __enumerate()__ method

In [113]:
avengers = ['hawkeye','iron man','thor','quicksilver']

In [114]:
e = enumerate(avengers)

print(type(e))

<class 'enumerate'>

In [115]:
e_list = list(e)

In [119]:
e_list

[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

In [118]:

for index, value in e_list :
    print(index, value)

0 hawkeye
1 iron man
2 thor
3 quicksilver

# __iterator_oliver_function()__

In [152]:
avengers = ['hawkeye','iron man','thor','quicksilver','spider man','jack bauer']

In [191]:
def iterator_oliver_function(arg):
    """ this function will give you the items and their respective indexes of any [list] """
    data = enumerate(arg)
    for index, value in data :
        print(index, value)

In [159]:
iterator_oliver_function(avengers)

0 hawkeye
1 iron man
2 thor
3 quicksilver
4 spider man
5 jack bauer

# enumerate() method with the argument __start__

In [162]:
for index, value in enumerate(avengers, start = 10):
    print(index, value)

10 hawkeye
11 iron man
12 thor
13 quicksilver
14 spider man
15 jack bauer

# How to used the __zip__ method ?

### It can take two list as parameters

In [164]:
avengers = ['hawkeye','iron man','thor','quicksilver','spider man','jack bauer']

In [173]:
names = ['Jackson','Tores','Inocent','Georges','Olivier','Eric']

In [174]:
data_zip = zip(avengers, names)


## this will create a zip object

In [175]:
data_zip

In [176]:
data_list = list(data_zip)

In [177]:
data_list

[('hawkeye', 'Jackson'),
 ('iron man', 'Tores'),
 ('thor', 'Inocent'),
 ('quicksilver', 'Georges'),
 ('spider man', 'Olivier'),
 ('jack bauer', 'Eric')]

In [179]:
datay = avengers + names

In [180]:
datay

['hawkeye',
 'iron man',
 'thor',
 'quicksilver',
 'spider man',
 'jack bauer',
 'Jackson',
 'Tores',
 'Inocent',
 'Georges',
 'Olivier',
 'Eric']

In [190]:
def iterator_oliver_function(arg):
    """ this function will give you the items and their respective indexes of any [list] """
    data = enumerate(arg)
    for index, value in data :
        print(index, value)

In [189]:
iterator_oliver_function(datay)

0 hawkeye
1 iron man
2 thor
3 quicksilver
4 spider man
5 jack bauer
6 Jackson
7 Tores
8 Inocent
9 Georges
10 Olivier
11 Eric

# Iterating over data __Big_Size__ of data using __chunksize__

In [192]:
import pandas as pd

In [193]:
my_data = 'https://raw.githubusercontent.com/houphouetla412/pen/master/student_marks.csv'

In [196]:
## to read big amount of data set
result = []

In [203]:
for chunk in pd.read_csv(my_data, chunksize = 1000):
    result.append(sum( chunk['Maths']))

In [204]:
total = sum(result)

In [205]:
print(total)

1788