In [ ]:
# __Docstring__ it is used to give the details about your function

In [ ]:
def square( value):
    """ This function return square of a value. """
    new_value = value ** 2
    return new_value

In [ ]:
square(8)

In [ ]:
def raise_both(value1, value2):
    """ Raise both values. """
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    new_tuple = (new_value1, new_value2)
    return new_tuple

In [ ]:
raise_both(3,2)

### We can declare a __global__ scope variable in the function using the __keyword__ ( __global__ )

In [ ]:
new_val =10
## after declaration make it available in the function global.
def square(value):
    """ Return the square of a value. """
    global new_val
    new_val = new_val ** 2
    return new_val

In [7]:
square(new_val)

In [8]:
new_val

100

## Nested functions __(1)__

In [9]:
# syntax:

def outer(x1,x2,x3):
    """ Return the remainder plus 5 of three input value. """
    
    
    def inner_fuct(x):
        
        return x % 2 + 5
        
    return (inner_fuct(x1),inner_fuct(x2),inner_fuct(x3))

In [10]:
outer(8,78,7 )

(5, 5, 6)

# Flexible arguments : __*args__

In [11]:
def add_all(*arg_numbers):
    """ Sum all values in *args together"""
    # Initialize sum
    sum_all = 0
    
    # accumulate the sum
    for num in arg_numbers:
        sum_all += num
    return sum_all

In [12]:
add_all(12,2,1,5,1)

21

# Flexible arguments : __**kwargs__

In [13]:
def print_all (**kwargs):
    for key, value in kwargs.items():
        print(key + "\t : "+ value)

In [14]:
 print_all(name = " oliver",job = "headmaster")

name	 :  oliver
job	 : headmaster

## Quick way to write a function using __lambda__ function

In [15]:
val =[1,2,3,4]

In [16]:

square1 = lambda x: x ** 2

In [17]:
check = map(square1,val)

In [18]:
check

In [19]:
result = list(map(square1,val))

In [20]:
result

[1, 4, 9, 16]

In [21]:
 sqr = lambda x: x ** 0.5

In [22]:
sqr(9)

3.0

In [23]:
 def sqr2( x):
        """ Rerturn square root of the given number ( +ve ) """
        if x < 0 :
            raise ValueError('x should a positive number')
        try:
            return x ** 0.5
        except TypeError:
            print('input value should be a number')

In [24]:
sqr2(6)

2.449489742783178


# How to create an __interator__ in python ?

In [25]:
yes = 'OLIVIER'

In [26]:
it = iter(yes)

In [27]:
print(*it)

O L I V I E R

# How to interating __over file__ connection ?

file = open('fileName')
it = iter(file)
print(next(it))

// This is the first line of the open file.

print(next(it))

// This is the second line of the open file.

# How to used __enumerate()__ method

In [28]:
avengers = ['hawkeye','iron man','thor','quicksilver']

In [29]:
e = enumerate(avengers)

print(type(e))

<class 'enumerate'>

In [30]:
e_list = list(e)

In [31]:
e_list

[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

In [32]:

for index, value in e_list :
    print(index, value)

0 hawkeye
1 iron man
2 thor
3 quicksilver

# __iterator_oliver_function()__

In [33]:
avengers = ['hawkeye','iron man','thor','quicksilver','spider man','jack bauer']

In [34]:
def iterator_oliver_function(arg):
    """ this function will give you the items and their respective indexes of any [list] """
    data = enumerate(arg)
    for index, value in data :
        print(index, value)

In [35]:
iterator_oliver_function(avengers)

0 hawkeye
1 iron man
2 thor
3 quicksilver
4 spider man
5 jack bauer

# enumerate() method with the argument __start__

In [36]:
for index, value in enumerate(avengers, start = 10):
    print(index, value)

10 hawkeye
11 iron man
12 thor
13 quicksilver
14 spider man
15 jack bauer

# How to used the __zip__ method ?

### It can take two list as parameters

In [37]:
avengers = ['hawkeye','iron man','thor','quicksilver','spider man','jack bauer']

In [38]:
names = ['Jackson','Tores','Inocent','Georges','Olivier','Eric']

In [39]:
data_zip = zip(avengers, names)


## this will create a zip object

In [40]:
data_zip

In [41]:
data_list = list(data_zip)

In [42]:
data_list

[('hawkeye', 'Jackson'),
 ('iron man', 'Tores'),
 ('thor', 'Inocent'),
 ('quicksilver', 'Georges'),
 ('spider man', 'Olivier'),
 ('jack bauer', 'Eric')]

In [43]:
datay = avengers + names

In [44]:
datay

['hawkeye',
 'iron man',
 'thor',
 'quicksilver',
 'spider man',
 'jack bauer',
 'Jackson',
 'Tores',
 'Inocent',
 'Georges',
 'Olivier',
 'Eric']

In [45]:
def iterator_oliver_function(arg):
    """ this function will give you the items and their respective indexes of any [list] """
    data = enumerate(arg)
    for index, value in data :
        print(index, value)

In [46]:
iterator_oliver_function(datay)

0 hawkeye
1 iron man
2 thor
3 quicksilver
4 spider man
5 jack bauer
6 Jackson
7 Tores
8 Inocent
9 Georges
10 Olivier
11 Eric

# Iterating over data __Big_Size__ of data using __chunksize__

In [53]:
import pandas as pd

In [54]:
my_data = 'https://raw.githubusercontent.com/houphouetla412/pen/master/student_marks.csv'

In [55]:
## to read big amount of data set
result = []

In [56]:
for chunk in pd.read_csv(my_data, chunksize = 1000):
    result.append(sum( chunk['Maths']))

In [57]:
total = sum(result)

In [58]:
print(total)

596

# A List __comprehension__

In [59]:
# Example 1

nums = [1,23,4,12,44]

In [64]:
new_num = [num / 2 for num in nums]

In [63]:
new_num

[0.5, 11.5, 2.0, 6.0, 22.0]

In [65]:
# Example 1

result = [ num for num in range(10)]

In [66]:
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
two_loop = [(num1, num2) for num1 in range(0,2) for num2 in range(3,11)]

In [68]:
two_loop

[(0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10)]

In [3]:
numbers = [ num ** 2 for num in range(100) if num%3== 0]

In [ ]:
numbers

In [6]:
number_and_zero = [ num ** 2 if num %2 == 0 else 0 for num in range(30)]

In [ ]:
number_and_zero

In [10]:
## Using dict

dict_num = {num: num + 10 for num in range(20)}

In [ ]:
dict_num

# Create a generator object

In [12]:
number_and_zero1 = (num ** 2 if num %2 == 0 else 0 for num in range(30))

In [13]:
number_and_zero1

In [ ]:
list(number_and_zero1)


## How to create a __generator__ function using __yield__

In [15]:
def num_sequences(n):
    """ Generate values from 0 to n. """
    i = 0
    while i < n :
        yield i 
        i+= 1

In [25]:
num_sequences(10)

In [26]:
 result = num_sequences(10)

In [27]:
for item in result :
    print(item)

0
1
2
3
4
5
6
7
8
9