# Python __Regular Expressions__

## Learn __strings manipulation__

In [3]:
my_string = 'Awesome'

In [5]:
print(my_string[0:3])

Awe

In [6]:
print(my_string[3])

s

## Stride Specifying

In [7]:
data = "Houphouet"

In [13]:
data[0:9:2]

## here 2 indicate the steps

'Huhut'

In [15]:
data[0:9:1]

'Houphouet'

In [20]:
data1 = 'dit bonjour.'

In [21]:
data1.capitalize()

'Dit bonjour.'

## Spliting string using __split()__ and __rsplit()__ methods

In [22]:
my_data = 'Welcome to India Alain kouassi !'

In [25]:
my_data.split(sep=" ",maxsplit=2)

['Welcome', 'to', 'India Alain kouassi !']

In [26]:
my_data.split(sep=" ",maxsplit=4)

['Welcome', 'to', 'India', 'Alain', 'kouassi !']

In [27]:
#### Using rsplit() , it splits from right to letf

my_data.rsplit(sep=" ",maxsplit=2)

['Welcome to India Alain', 'kouassi', '!']

In [30]:
my_data.rsplit(sep=" ",maxsplit=4)

['Welcome to', 'India', 'Alain', 'kouassi', '!']

### Breaking at the line boundaries

In [33]:
my_data = 'Welcome\n to India Alain kouassi !\nHere is kalyan nagar'

In [43]:
vv = my_data.splitlines()
vv

['Welcome', ' to India Alain kouassi !', 'Here is kalyan nagar']

In [37]:
my_data1 = 'Welcome\r to India Alain kouassi !\rHere is kalyan nagar'

In [38]:
my_data.splitlines()

['Welcome', ' to India Alain kouassi !', 'Here is kalyan nagar']

#### Joining. Concatinate strings from a list or another iterable

In [46]:
print("".join(vv))

Welcome to India Alain kouassi !Here is kalyan nagar

In [47]:
result = "".join(vv)

In [48]:
print(result)

Welcome to India Alain kouassi !Here is kalyan nagar

### How to use __.strip()__ and __.rstrip__ methods ?

In [49]:
var = '    Hello olivier, how you?   '

In [50]:
print(var)

    Hello olivier, how you?

In [51]:
# .strip()

print(var.strip())

Hello olivier, how you?

In [52]:
# .rstrip()

print(var.rstrip())

    Hello olivier, how you?

In [53]:
# .lstrip()

print(var.lstrip())

Hello olivier, how you?

In [54]:
var1 = "bonjour"

In [58]:
for x in var1:
    if x == 'u':
        print(x)
        break
    else:
        print('letter not found ')

letter not found
letter not found
letter not found
letter not found
letter not found
u

In [59]:
##  find() method

var3 =" Bonjour Abidjan ma ville"

In [60]:
var3.find('ma')

17

In [61]:
var3.find('le')

23

In [62]:
var3.find('la')

# This mean element doesnot exist

-1

In [63]:
var3.find('Abi',0,17)

9

### indexing() method

In [64]:
var3.index('ma')

17

### Counting accurrences of a specific substring in the given string

In [65]:
my_string = 'Apple is not mango, Apple is not red and apple is green'

In [66]:
my_string.count('apple')

1

In [67]:
my_string.count('Apple')

2

In [68]:
my_string.count('Apple',0,6)

1

# Replacing with __replace()__

#### string __replace__( __old__ ,__new__,__count__)

#### count is optional

In [72]:
new_string =my_string.replace('apple','Apple')

In [71]:
print(new_string)

Apple is not mango, Apple is not red and Apple is green

In [73]:
replace_only_one = new_string.replace('Apple','Kuwi',1)

In [74]:
print(replace_only_one)

Kuwi is not mango, Apple is not red and Apple is green