## Assigments

In [3]:
# Importing the Libraries

from bs4 import BeautifulSoup
import requests
import pandas as pd

## __WEB SCRAPING__

#### __1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.__

In [6]:
source = requests.get('https://en.wikipedia.org/wiki/Main_Page')
source

In [7]:
soup = BeautifulSoup(source.content)

In [8]:
article = soup.find_all('span',class_="mw-headline")

In [9]:
print(article)

[<span class="mw-headline" id="From_today's_featured_article">From today's featured article</span>, <span class="mw-headline" id="Did_you_know_...">Did you know ...</span>, <span class="mw-headline" id="In_the_news">In the news</span>, <span class="mw-headline" id="On_this_day">On this day</span>, <span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span>, <span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span>, <span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span>, <span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span>]

In [10]:
Article_Headert = []
for x in article:
    Article_Headert.append(x.text.strip())
print(Article_Headert)

["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

In [47]:

def article_header_func(*args):
    url = input()
    source = requests.get(url=url)
    soup = BeautifulSoup(source.content)
    article = soup.find_all('span',class_="mw-headline")
    Article_Headert = []
    for x in article:
        Article_Headert.append(x.text.strip())
#print(Article_Headert,'\n','-'*40,'\nLength of Article is : ',len(Article_Headert))
    return Article_Headert

In [48]:
article_header_func()

 https://en.wikipedia.org/wiki/Main_Page

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

#### __2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.__

In [87]:
#Finding the movies names

source1 = requests.get('https://www.imdb.com/list/ls091520106/')
soup1 = BeautifulSoup(source1.content)

name = soup1.select('h3.lister-item-header > a')

In [88]:
list_name1 =[]
for x in name:
    list_name1.append(x.text.strip())

In [89]:
print(list_name1)

['The Shawshank Redemption', 'The Godfather', 'The Godfather: Part II', 'The Dark Knight', '12 Angry Men', "Schindler's List", 'The Lord of the Rings: The Return of the King', 'Pulp Fiction', 'Il buono, il brutto, il cattivo', 'Fight Club', 'Joker', 'The Lord of the Rings: The Fellowship of the Ring', 'Forrest Gump', 'Inception', 'Star Wars: Episode V - The Empire Strikes Back', 'The Lord of the Rings: The Two Towers', 'The Matrix', "One Flew Over the Cuckoo's Nest", 'Goodfellas', 'Shichinin no samurai', 'Se7en', 'Cidade de Deus', 'La vita è bella', 'The Silence of the Lambs', 'Star Wars', "It's a Wonderful Life", 'Saving Private Ryan', 'Sen to Chihiro no kamikakushi', 'The Green Mile', 'Léon', 'Seppuku', 'Interstellar', 'The Usual Suspects', 'The Lion King', 'American History X', 'Back to the Future', 'The Pianist', 'Modern Times', 'Terminator 2: Judgment Day', 'The Intouchables', 'Psycho', 'Gladiator', 'City Lights', 'The Departed', 'Whiplash', 'Once Upon a Time in the West', 'The Prestige', 'Avengers: Endgame', 'Casablanca', 'Hotaru no haka', 'Rear Window', 'Nuovo Cinema Paradiso', 'Alien', 'Raiders of the Lost Ark', 'Memento', 'Apocalypse Now', 'The Great Dictator', 'The Lives of Others', 'Avengers: Infinity War', 'Django Unchained', 'Spider-Man: Into the Spider-Verse', 'The Shining', 'Paths of Glory', 'WALL·E', 'Sunset Blvd.', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Mononoke-hime', 'Oldeuboi', 'Witness for the Prosecution', 'The Dark Knight Rises', 'Once Upon a Time in America', 'Gisaengchung', 'Aliens', 'American Beauty', 'Coco', 'Kimi no na wa.', 'Braveheart', 'Das Boot', '3 Idiots', 'Taare Zameen Par', 'Star Wars: Episode VI - Return of the Jedi', 'Toy Story', 'Reservoir Dogs', 'Amadeus', 'Dangal', 'Good Will Hunting', 'Inglourious Basterds', 'M - Eine Stadt sucht einen Mörder', 'Requiem for a Dream', '2001: A Space Odyssey', 'Vertigo', 'Eternal Sunshine of the Spotless Mind', 'Citizen Kane', 'Full Metal Jacket', 'Jagten', 'North by Northwest', 'A Clockwork Orange', 'Snatch', "Le fabuleux destin d'Amélie Poulain", 'The Kid']

In [90]:
len(list_name1)
#

100

In [98]:
movie_names = []
def IMDB_movies_func(*args):
    url = input()
    source1 = requests.get(url=url)
    soup1 = BeautifulSoup(source1.content)
    year = soup2.find_all("span",class_="lister-item-year")
    names = soup1.select('h3.lister-item-header > a')
    for x in names:
        movie_names.append(x.text.strip())
    return movie_names

In [99]:
IMDB_movies_func()

 https://www.imdb.com/list/ls091520106/

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [101]:
# movie_names

In [109]:
# Finding the movies rating 

movie_rates = []
def IMDB_movies_func1(*args):
    url = input()
    source2 = requests.get(url=url)
    soup2 = BeautifulSoup(source2.content)
    rates = soup2.find_all("span",class_="ipl-rating-star__rating")
    for x in rates:
        movie_rates.append(x.text.strip())
    return movie_rates

In [ ]:
IMDB_movies_func1()
ipl-rating-star small

In [151]:
source2 = requests.get('https://www.imdb.com/list/ls091520106/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup2 = BeautifulSoup(source2.content)
#rates = soup2.find_all("span",class_="ipl-rating-star__rating")


#names = soup1.select('h3.lister-item-header > a')
#class="ipl-rating-star small"
rates = soup2.find_all("span",class_="ipl-rating-star__rating")
#class="ipl-rating-star__rating"

In [154]:
list_a =[]
for x in rates:
    list_a.append(x.text.replace('<span class="ipl-rating-star__rating">',' '))

In [156]:
list_a

list

arr_v = []
for x in list_a:
    if x.isdigit():
        print(x)

In [158]:



source3 = requests.get('https://www.imdb.com/list/ls091520106/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup3 = BeautifulSoup(source3.content)

year = soup2.find_all("span",class_="lister-item-year")

#class="lister-item-year text-muted unbold"

In [179]:
Year_of_release = []
for x in year:
    Year_of_release.append(x.text.strip().replace('(','').replace(')','').replace('I ',''))

In [182]:
#Year_of_release

In [162]:
len(Year_of_release)

100

In [171]:
result_list = []
release = []
for x in Year_of_release:
    release.append(x.replace('(',''))
        
for y in release:
    result_list.append(y.replace(')',''))

In [175]:
# result_list
year_list =[]
for y in result_list:
    year_list.append(y.replace('I ',''))

In [181]:
#year_list

In [271]:
names_x = []
release = []
rating = []
data = pd.DataFrame({})
def IMDB_movies_func1(*args):
    url = input()
    source = requests.get(url=url)
    soup = BeautifulSoup(source.content)
    names = soup.select('h3.lister-item-header > a')
    years = soup.find_all("span",class_="lister-item-year")
    Rate = soup.find_all("div",class_="ipl-rating-star small")
    values = [names,years,list(Rate)]
    for x in values:
        if x == values[0]:
            for y in x:
                names_x.append(y.text.strip())
        if x == values[1]:
            for y in x:
                release.append(y.text.strip().replace('(','').replace(')','').replace('I ',''))
        if x == values[2]:
            for y in x:
                rating.append(y.text.strip())
                
            
            
                
    #print(names_x,release)
    data['Name'] = names_x
    data['Year_of_release'] = release
    data['Rating'] = rating
    return data
    
                
                
            
      
    #return movie_name
#Year_of_release.append(x.text.strip().replace('(','').replace(')','').replace('I ',''))
#

In [272]:
IMDB_movies_func1()

  https://www.imdb.com/list/ls091520106/?sort=user_rating,desc&st_dt=&mode=detail&page=1

                                 Name Year_of_release Rating
0            The Shawshank Redemption            1994    9.3
1                       The Godfather            1972    9.2
2                     The Dark Knight            2008      9
3              The Godfather: Part II            1974      9
4                        12 Angry Men            1957      9
..                                ...             ...    ...
95                            Vertigo            1958    8.3
96                 North by Northwest            1959    8.3
97                           Das Boot            1981    8.3
98  M - Eine Stadt sucht einen Mörder            1931    8.3
99                            The Kid            1921    8.3

[100 rows x 3 columns]

In [187]:
b = 22
v = 99
a = [b,v]

In [188]:
a

[22, 99]

In [258]:

source4 = requests.get('https://www.imdb.com/list/ls091520106/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup4 = BeautifulSoup(source3.content)

Rate = soup4.find_all("div",class_="ipl-rating-star small")
# class="ipl-rating-star small"

In [261]:
arr_v=  list(Rate)

In [260]:
type(Rate)

bs4.element.ResultSet

In [274]:
#Rate

In [267]:
arr_v
rating = []
for x in arr_v:
    rating.append(x.text.strip())

In [275]:
#rating

In [269]:
len(rating)

100

In [374]:

def Batsmen_detaitls_func(*args):
    data = pd.DataFrame({})
    name_list = []
    price_list = []
    image_list = []
    rating_list =[]
    url = input()
    html = requests.get(url=url).content
    sel = Selector(text= html)
    source = requests.get(url=url)
    soup = BeautifulSoup(source.content)
    #names = soup.select('h3.lister-item-header > a')
    product_name = soup.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")
    product_price = soup.find_all("span",class_="a-price-whole")
    image_url = sel.xpath("//img[@class ='s-image']/@src").extract()
    rating = sel.xpath("//span[@class='a-size-base']").extract()
   
    
    values = [product_name ,product_price,image_url,rating]
    for x in values:
        if x == values[0]:
            for y in x:
                name_list.append(y.text.strip())
                #matches_list.sort(reverse=True)
                if len(name_list) == 23:
                    break
        if x == values[1]:
            for y in x:
                price_list.append(y.text.strip())
                #points_list.sort(reverse=True)
                if len(price_list) == 23:
                    break
        if x == values[2]:
            for y in x:
                image_url.append(y)
                #rating_list.sort(reverse=True)
                if len(image_url) == 23:
                    break
        if x == values[3]:
            for y in x:
                rating_list.append(y.replace('<span class="a-size-base">','').replace('</span>',''))
                #rating_list.sort(reverse=True)
                if len(rating_list) == 23:
                    break             
                
    #print(names_x,release)
    data['Product_Name'] = name_list
    data['Product_Price'] = price_list
    data['Product_Image_link'] = image_list
    data['Product_Rating'] = rating_list
    return data

In [375]:
Batsmen_detaitls_func()

 https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

         Player_Name Player_Team Player_Rating
0       Mehedi Hasan         BAN           713
1   Mujeeb Ur Rahman         AFG           708
2         Matt Henry          NZ           691
3     Jasprit Bumrah         IND           690
4      Kagiso Rabada          SA           666
5       Chris Woakes         ENG           665
6     Josh Hazlewood         AUS           660
7        Pat Cummins         AUS           646
8  Mustafizur Rahman         BAN           645
9      Mohammad Amir         PAK           638

In [18]:
source11 = requests.get(url='https://www.amazon.in/Smartphones-Under-%E2%82%B920-000-Basic-Mobiles/s?rh=n%3A1805560031%2Cp_36%3A-2000000')
soup22 = BeautifulSoup(source11.content)
source11
    
# https://www.amazon.in/s?k=all+mobile+under+20000&rh=n%3A1389432031&ref=nb_sb_noss

In [435]:
#m = soup.find_all("tr",class_="table-body"

#name = soup.select('td.rankings-table__name>a')
#name = soup.find_all("td",class_="table-body__cell rating")
#team = soup.find_all("span",class_="table-body__logo-text")
#class="table-body__logo-text"


# product_name = soup22.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")

product_url = soup22.select("img",class_='s-image')

response.xpath('//img')

In [436]:
# print(matches)
axx =[]
for x in product_url:
    axx.append(x.text)

In [2]:
from scrapy import Selector

In [437]:
print(axx)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

1) name = soup.select('td.rankings-table__name>a')
2) team = soup.find_all("span",class_="table-body__logo-text")
3) rate = soup.find_all("td",class_="table-body__cell rating")

https://www.amazon.in/s?k=all+mobile+under+20000&crid=1RP5D9PHB4DD9&sprefix=all+mobi%2Caps%2C439&ref=nb_sb_ss_ts-doa-p_7_8

In [ ]:
[<Selector xpath='//img' data='<img src="https://db.ygoprodeck.com/sear'>]

source5 = requests.get(url=source_url)
    html = requests.get(url=source_url).content
    sel = Selector(text= html)
    genre =sel.xpath('//p[@class ="genre-links hidden-phone"]').extract()

In [3]:
html = requests.get(url='https://www.amazon.in/Smartphones-Under-%E2%82%B920-000-Basic-Mobiles/s?rh=n%3A1805560031%2Cp_36%3A-2000000').content

In [4]:
sel = Selector(text= html)

In [464]:
#data1 = sel.xpath("//img[@class ='s-image']/@src").extract()

In [475]:
rate = soup22.select("span",class_="a-size-base")

In [477]:
rating = sel.xpath("//span[@class='a-size-base']").extract()

In [480]:
# rating
# 34,860

product_price = soup22.find_all("span",class_="a-price-whole")

In [481]:
len(product_price)

23

In [483]:
image_url = sel.xpath("//img[@class ='s-image']/@src").extract()

In [16]:
product_name = soup22.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")

NameError: name 'soup22' is not defined

In [ ]:
for x in list(product_name):
    len(x.text.strip())

In [503]:
image_url = sel.xpath("//img[@class ='s-image']/@src").extract()

In [494]:
or x in image:
    len(x.text.strip())

24

In [502]:
amazon_phone_func()

 https://www.amazon.in/Smartphones-Under-%E2%82%B920-000-Basic-Mobiles/s?rh=n%3A1805560031%2Cp_36%3A-2000000

KeyboardInterrupt:

In [23]:
#product_name = soup22.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")
product_price = soup22.find_all("span",class_="a-price-whole")

In [24]:
for x in product_price:
    print(x.text.strip())

8,799
6,798
10,499
6,799
12,499
10,999
14,499
12,499
10,999
10,499
10,499
10,999
10,499
8,799
10,499
12,499
16,999
9,499
7,499
11,490
8,799
15,999
14,499

In [25]:
len(product_price)

23

1 ) image_url = sel.xpath("//img[@class ='s-image']/@src").extract()
for x in image_url:
    print(x)


2)
Rate= sel.xpath("//span[@class='a-size-base']").extract()
x.replace('<span class="a-size-base">','').replace('</span>','')



3)
product_name = soup22.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")

for x in product_name:
    print(x.text.strip())
    
    
4)   
product_price = soup22.find_all("span",class_="a-price-whole")

for x in product_price:
    print(x.text.strip())

In [33]:
product_price_list=[]
for x in product_price:
    product_price_list.append(x.text.strip())
    if len(product_price_list) ==23:
        break

In [34]:
len(product_price_list)

23

In [36]:
df = pd.DataFrame({})

In [37]:
df['product_price'] = product_price_list

In [39]:
#df 1

In [40]:
Rate= sel.xpath("//span[@class='a-size-base']").extract()
phone_rate = []
for x in Rate:
    phone_rate.append(x.replace('<span class="a-size-base">','').replace('</span>',''))
    if len(phone_rate) ==23:
        break
df['Mobile_rate'] = phone_rate

In [42]:
#df2

In [43]:
img_link = []
image_url = sel.xpath("//img[@class ='s-image']/@src").extract()
for x in image_url:
    img_link.append(x)
    if len(img_link) ==23:
        break
df['Img_links'] = img_link

In [63]:
df

,product_price,Mobile_rate,Img_links,Product_name
0,"8,799","46,526",https://m.media-amazon.com/images/I/71A9Vo1Bat...,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500..."
1,"6,798","50,623",https://m.media-amazon.com/images/I/71sxlhYhKW...,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...
2,"10,499","34,893",https://m.media-amazon.com/images/I/71hEzQGO5q...,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto..."
3,"6,799","50,623",https://m.media-amazon.com/images/I/71sxlhYhKW...,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)..."
4,"12,499","36,949",https://m.media-amazon.com/images/I/71OGzLCrjZ...,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Storage)"
5,"10,999","67,740",https://m.media-amazon.com/images/I/71X5I1cVfb...,"Redmi Note 9 (Arctic White, 4GB RAM, 64GB Stor..."
6,"14,499","36,949",https://m.media-amazon.com/images/I/71-BcSc9rh...,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Stor..."
7,"12,499","36,949",https://m.media-amazon.com/images/I/71QY6JV6Fh...,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto..."
8,"10,999","67,740",https://m.media-amazon.com/images/I/71X5I1cVfb...,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag..."
9,"10,499","34,893",https://m.media-amazon.com/images/I/71hEzQGO5q...,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...
10,"10,499","20,845",https://m.media-amazon.com/images/I/71yYaNztZ0...,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage..."
11,"10,999","67,740",https://m.media-amazon.com/images/I/71X5I1cVfb...,"Redmi Note 9 (Aqua Green, 4GB RAM, 64GB Storag..."
12,"10,499","34,893",https://m.media-amazon.com/images/I/71hEzQGO5q...,"Redmi 9 Power (Electric Green, 4GB RAM, 64GB S..."
13,"8,799","46,526",https://m.media-amazon.com/images/I/716nHhG9SW...,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ..."
14,"10,499","20,845",https://m.media-amazon.com/images/I/714QWDxXgN...,"Samsung Galaxy M12 (Black,4GB RAM, 64GB Storag..."
15,"12,499","36,949",https://m.media-amazon.com/images/I/71SSmaLA7x...,"Redmi Note 10 (Frost White, 4GB RAM, 64GB Stor..."
16,"16,999","196,439",https://m.media-amazon.com/images/I/71-Su4Wr0H...,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB..."
17,"9,499","50,623",https://m.media-amazon.com/images/I/71sxlhYhKW...,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64..."
18,"7,499","1,848",https://m.media-amazon.com/images/I/71GQUxuSpn...,Redmi 9A (Sea Blue 3GB RAM 32GB Storage)| 2GHz...
19,"11,490","50,623",https://m.media-amazon.com/images/I/71sxlhYhKW...,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag..."
20,"8,799","15,529",https://m.media-amazon.com/images/I/71KCwNV6Mu...,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag..."
21,"15,999","15,529",https://m.media-amazon.com/images/I/61IhTtJUXJ...,"Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)..."
22,"14,499","46,526",https://m.media-amazon.com/images/I/71A9Vo1Bat...,"Redmi Note 10S (Deep Sea Blue, 6GB RAM, 128GB ..."

In [47]:
product_name = soup22.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")
name_list = []
for x in product_name:
    name_list.append(x.text.strip())
    if len(name_list) == 23:
        break
df['Product_name'] = name_list

In [49]:
#df4

In [50]:
#k = [product_price,Rate,image_url,product_name]

In [56]:
#k[3]

In [93]:
data = pd.DataFrame({})
def amazon_phone_under20k_func(*args):
    source_url = input()
    image_list = []
    rating_list =[]
    price_list = []
    name_list = []
    
    
    html = requests.get(url=source_url).content
    source_ = requests.get(url=source_url)
    sel = Selector(text= html)
    soup_= BeautifulSoup(source_.content)
    #names = soup.select('h3.lister-item-header > a')
    
    image_url = sel.xpath("//img[@class ='s-image']/@src").extract()
    Rate= sel.xpath("//span[@class='a-size-base']").extract()
    product_name = soup_.find_all("span",class_="a-size-base-plus a-color-base a-text-normal")
    product_price = soup_.find_all("span",class_="a-price-whole")
   
    
    values = [image_url,Rate,product_price,product_name]
    for items in values:
        if items == values[0]:
            for y in items:
                image_list.append(y.replace('',''))
                #matches_list.sort(reverse=True)
                if len(image_list) == 23:
                    break
        if items == values[1]:
            for y in items:
                rating_list.append(y.replace('<span class="a-size-base">','').replace('</span>',''))
                #points_list.sort(reverse=True)
                if len(rating_list) == 23:
                    break
        if items == values[2]:
            for y in items:
                price_list.append(y.text.strip())
                #rating_list.sort(reverse=True)
                if len(price_list) == 23:
                    break
        if items == values[3]:
            for y in items:
                name_list.append(y.text.strip())
                #rating_list.sort(reverse=True)
                if len(name_list) == 23:
                    break             
                
    #print(name_list,price_list,image_list,rating_list)
    data['Product_Image_link'] = image_list
    data['Product_Rating'] = rating_list
    data['Product_Price'] = price_list
    data['Product_Name'] = name_list
    return data

In [ ]:
amazon_phone_under20k_func()

In [25]:
url_ = 'https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196#.YMtRGJMzZQI'

In [26]:
response = requests.get(url = url_)

In [27]:
response

In [28]:
my_soup = BeautifulSoup(response.text,'html.parser')

In [29]:
period = my_soup.select('p.period-name')

In [30]:

period_list = []
for x in period:
    period_list.append(x.text)

In [31]:
period_list

['Today',
 'Tonight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight',
 'Monday']

In [36]:
len(period_list)

9

In [32]:
short_desc = my_soup.select("p.short-desc")

In [34]:
short_desc_list = []
for x in short_desc:
    short_desc_list.append(x.text)

In [35]:
short_desc_list

['Sunny thenSunny andBreezy',
 'Mostly Clear',
 'Sunny thenSunny andBreezy',
 'Mostly Clear',
 'Sunny thenSunny andBreezy',
 'Mostly Clearand Breezythen MostlyClear',
 'Sunny',
 'Partly Cloudy',
 'Mostly Sunny']

In [37]:
len(short_desc_list)

9

In [54]:
temp_hight_1 = my_soup.find_all('p',class_="temp temp-high")

In [55]:
temp_hight_1

[<p class="temp temp-high">High: 83 °F</p>,
 <p class="temp temp-high">High: 76 °F</p>,
 <p class="temp temp-high">High: 73 °F</p>,
 <p class="temp temp-high">High: 71 °F</p>,
 <p class="temp temp-high">High: 69 °F</p>]

In [56]:
temp_1 = []
for x in temp_hight_1:
    temp_1.append(x.text)

In [87]:
temp_1 = list(temp_1)

In [ ]:
class="temp temp-low"

In [47]:
temp_low = my_soup.find_all('p',class_="temp temp-low")

In [48]:
temp_low_1 = []
for x in temp_low:
    temp_low_1.append(x.text)

In [88]:
temp_low_1 = list(temp_low_1)

In [90]:
assk = temp_1+temp_low_1

In [92]:
len(assk)

9

In [ ]:
# class="col-sm-2 "

In [93]:
period_ = my_soup.select("div.forecast-label>b")

In [95]:
list_period =[]
for x in period_:
    list_period.append(x.text)

In [96]:
list_period

['Today',
 'Tonight',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday']

In [97]:
len(period_)

13

In [ ]:
class="col-sm-10 "

In [100]:
full_desc = my_soup.select("div.forecast-text")

In [104]:
desc_list =[]
for x in full_desc:
    full_desc_list.append(x.text)

In [105]:
full_desc_list

['Sunny, with a high near 83. Breezy, with a light west southwest wind becoming west 18 to 23 mph in the morning. Winds could gust as high as 29 mph. ',
 'Mostly clear, with a low around 57. West southwest wind 16 to 21 mph decreasing to 10 to 15 mph in the evening. Winds could gust as high as 26 mph. ',
 'Sunny, with a high near 76. Breezy, with a west southwest wind 10 to 15 mph increasing to 17 to 22 mph in the afternoon. Winds could gust as high as 29 mph. ',
 'Mostly clear, with a low around 56. West southwest wind 13 to 18 mph, with gusts as high as 24 mph. ',
 'Sunny, with a high near 73. Breezy, with a west southwest wind 16 to 22 mph, with gusts as high as 29 mph. ',
 'Mostly clear, with a low around 56. Breezy. ',
 'Sunny, with a high near 71.',
 'Partly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 69.',
 'Mostly cloudy, with a low around 58.',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 57.',
 'Mostly sunny, with a high near 68.']

In [106]:
len(full_desc_list)

13

In [109]:
data = pd.DataFrame({})
def San_Francisco_funct(*args):
    url_ = input()
    list_period =[]
    desc_list = []
    
    response = requests.get(url = url_)
    my_soup= BeautifulSoup(response.text,'html.parser')
    period_ = my_soup.select("div.forecast-label>b")
    description = my_soup.select("div.forecast-text")
    
    values = [period_,description]
    for items in values:
        if items == values[0]:
            for y in items:
                list_period.append(y.text)
    for items in values:
        if items == values[1]:
            for y in items:
                desc_list.append(y.text)  
    data['Weather_Periods'] = list_period
    data['Temperature_and_description'] = desc_list
    return data

In [110]:

## give the following link while call the function: https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196#.YMtRGJMzZQI

San_Francisco_funct()

 https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196#.YMtRGJMzZQI

   Weather_Periods                        Temperature_and_description
0            Today  Sunny, with a high near 85. Breezy, with a lig...
1          Tonight  Mostly clear, with a low around 57. West south...
2           Friday  Sunny, with a high near 76. Breezy, with a wes...
3     Friday Night  Mostly clear, with a low around 56. West south...
4         Saturday  Sunny, with a high near 73. Breezy, with a wes...
5   Saturday Night       Mostly clear, with a low around 56. Breezy.
6           Sunday                        Sunny, with a high near 71.
7     Sunday Night               Partly cloudy, with a low around 56.
8           Monday                 Mostly sunny, with a high near 69.
9     Monday Night               Mostly cloudy, with a low around 58.
10         Tuesday                 Mostly sunny, with a high near 68.
11   Tuesday Night               Partly cloudy, with a low around 57.
12       Wednesday                 Mostly sunny, with a high near 68.

In [350]:
src_url1 = 'https://internshala.com/fresher-jobs'
response1 = requests.get(url=src_url1)
x_soup = BeautifulSoup(response.text,'html.parser')
job_title1 = x_soup.select("div.heading_4_5")

job_title_list1 =[]
for x in job_title1:
    job_title_list1.append(x.text.replace('\n','').replace(' ',''))
job_title_list1

['',
 '',
 '',
 '',
 '',
 'WebAnalyticsDeveloper',
 'JuniorSocialMediaMarketingManager',
 'JuniorSocialMediaMarketingAssociate',
 'BusinessDevelopmentManager(DigitalMarketingSales)',
 'BusinessDevelopmentExecutive',
 'Accountant',
 'ResearchAssociate',
 'AssistantCoordinator-TenderDepartment',
 'CustomerRelationshipManager(PublishingConsultant)',
 'ExecutiveAssistantToDirector',
 'LearningConsultant-Sales',
 'School/TeacherConsultant',
 'JuniorRecruiter',
 'SoftwareDeveloper',
 'BusinessDevelopmentExecutive(InsideSales)',
 'WebDeveloper',
 'OrderProcessor',
 'FullStackDeveloper',
 'AssociateSoftwareDeveloper',
 'ReactjsDeveloper',
 'FullStackDeveloper',
 'BusinessDevelopmentExecutive',
 'CorporateSalesAssociate',
 'InsideSalesAssociate',
 'MobileAppDeveloper',
 'JuniorMERNStackDeveloper',
 'EducationInnovationManager',
 'GeneralManagementAssociate',
 'Content&E-commerceManagementTrainee',
 'SoftwareEngineer',
 'SalesSupport&OperationsExecutive',
 'BackendDeveloper',
 'Accountant',
 'BusinessDevelopment(Sales)Associate',
 'CorporateSalesAssociate',
 'SalesExecutive-Mobile/Electronics',
 'ReactjsDeveloper',
 'SoftwareEngineer',
 'PHP&LARAVELDEVELOPER',
 'CustomerServiceSpecialist']

In [354]:
result[0]

''

In [336]:
apply = x_soup.select("div.item_body")

apply_details = []
for x in apply:
    apply_details.append(x.text.strip())

In [338]:
apply_del = []

for x in apply_details:
    if x !='Starts\xa0Immediately':
        apply_del.append(x)

In [343]:
apply_del[1]

"17 Jul' 21"

In [348]:
v = []
n = []
for y in apply_del:
    if apply_del.index(y)%2 ==0:
        v.append(y)
    else:
        n.append(y)

In [349]:
n

["17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "15 Jul' 21",
 "15 Jul' 21",
 "15 Jul' 21",
 "14 Jul' 21",
 "14 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "11 Jul' 21",
 "14 Jul' 21",
 "15 Jul' 21",
 "10 Jul' 21",
 "10 Jul' 21",
 "9 Jul' 21",
 "9 Jul' 21",
 "9 Jul' 21",
 "9 Jul' 21",
 "8 Jul' 21",
 "8 Jul' 21",
 "7 Jul' 21",
 "7 Jul' 21",
 "7 Jul' 21",
 "7 Jul' 21",
 "4 Jul' 21",
 "3 Jul' 21"]

In [ ]:




div_ = soup.find('div').findChildren()
for i, child in enumerate(div_):
    if i == 1:
         print child.text

In [136]:
len(job_title_list1)

45

In [ ]:
for x in ctc_list

In [ ]:
src_url2 = 'https://internshala.com/fresher-jobs/page-2'
response2 = requests.get(url=src_url2)
y_soup = BeautifulSoup(response2.text,'html.parser')
job_title2 = y_soup.select("div.heading_4_5")

job_title_list2 =[]
for x in job_title2:
    job_title_list2.append(x.text.replace('\n',''))
#job_title_list2

In [244]:
apply_date_list

[]

In [135]:
len(job_title_list2)

45

In [ ]:
src_url3 = 'https://internshala.com/fresher-jobs/page-3'
response3 = requests.get(url=src_url3)
z_soup = BeautifulSoup(response3.text,'html.parser')
job_title3 = z_soup.select("div.heading_4_5")
job_title_list3 =[]
for x in job_title3:
    job_title_list3.append(x.text.replace('\n',''))
    
job_title_list3

In [134]:
len(job_title_list3)

22

In [ ]:
job_title2 = x_soup.select("div.heading_4_5")

In [123]:
len(title)

45

In [137]:
result = job_title_list1 + job_title_list2 + job_title_list3

In [125]:


company_name = x_soup.select("a.link_display_like_text")

In [358]:
for x in company_name:
    print(x.text.strip())

DataVinci Private Limited
The Test Tribe
Glu Studios
Graygraph Technologies LLC
BookLeaf Publishing
Ravi Ladia & Co
Market Vistas Consumer Insights
Global Source Trading LLC
Blue Rose Publishers
Best Roadways Limited
Geekster
InfyBytes AI Labs Private Limited
Radish Consultants Private Limited
Moxie.xyz
GREedge
Fullmoon Outdoor Web Solutions
InspectHOA
Nikulsan Technologies Private Limited
IQGateway
Startxlabs Technologies Private Limited
RavGins International Private Limited (Wobb.ai)
Varenyam Placements
HealthPlix Technologies Private Limited
Wizklub Learning
Fusion Engineering
DeepThought Edutech Ventures Private Limited
DeepThought Edutech Ventures Private Limited
Redwood Algorithms
Blooprint Ecom Consulting
QuikieApps
SysCloud Technologies Private Limited
Medcords Healthcare Solution Private Limited
Bagga Infrastructure Limited
Exploring Infinities Edtech Private Limited
Best Roadways Limited
iShopAtoZ
The Tech Bridge
SalaryBox
Nyx Wolves
Wono Inc

In [355]:
len(company_name)

40

In [128]:
a = input()
b = input()
c = input()
print(a,b,c)

 a
 b
 c

a b c

In [ ]:
result

In [142]:
result.unique()

AttributeError: 'list' object has no attribute 'unique'

In [145]:
calc = tuple(result)

In [144]:
len(result)

112

In [147]:
len(calc)

112

In [393]:
data = pd.DataFrame({})
def Fresher_Jobs_funct(*args):
    url_1 = input('Enter first url')
    url_2 = input('Enter second url')
    url_3 = input('Enter the third ulr')
    response1 = requests.get(url=url_1)
    response2 = requests.get(url=url_2)
    response3 = requests.get(url=url_3)
    
    x_soup = BeautifulSoup(response1.text,'html.parser')
    job_title1 = x_soup.select("div.heading_4_5")
    
    y_soup = BeautifulSoup(response2.text,'html.parser')
    job_title2 = y_soup.select("div.heading_4_5")
    
    z_soup = BeautifulSoup(response3.text,'html.parser')
    job_title3 = z_soup.select("div.heading_4_5")
    
    # company_name
    company_name_1 = x_soup.select("a.link_display_like_text")
    company_name_2 = y_soup.select("a.link_display_like_text")
    company_name_3 = z_soup.select("a.link_display_like_text")
    
    # CTC
    ctc1_aplly_date1 = x_soup.find_all('div',class_="item_body")
    ctc2_aplly_date2 = y_soup.find_all('div',class_="item_body")
    ctc3_aplly_date3 = z_soup.find_all('div',class_="item_body")
    
    # Company name block
    company_name_list1 = []
    for x in company_name_1:
        company_name_list1.append(x.text.strip())
    company_name_list2 = []
    for x in company_name_2:
        company_name_list2.append(x.text.strip())
    company_name_list3 = []
    for x in company_name_3:
        company_name_list3.append(x.text.strip())
    
    Company_Name = company_name_list1 + company_name_list2 + company_name_list3
    
    ## Job Titble block
    job_title_list1 =[]
    for x in job_title1:
        job_title_list1.append(x.text.replace('\n',''))
        
    job_title_list2 =[]
    for x in job_title2:
        job_title_list2.append(x.text.replace('\n',''))
    job_title_list3 =[]
    for x in job_title3:
        job_title_list3.append(x.text.replace('\n',''))
    job_T1 = []
    for y in job_title_list1:
        if y!='':
            job_T1.append(y)
    job_T2 = []
    for y in job_title_list2:
        if y!='':
            job_T2.append(y)
    job_T3 = []
    for y in job_title_list3:
        if y!='':
            job_T3.append(y)        
            
            
    Job_Title = job_T1 + job_T2 + job_T3   

    
    
    
    ## aplly_date and CTC block
    apply_details1 = []
    for x in ctc1_aplly_date1:
        apply_details1.append(x.text.strip())
        
    apply_del1 = []
    for x in apply_details1:
        if x !='Starts\xa0Immediately':
            apply_del1.append(x)
    ctc1 = []
    date1 = []
    for y in apply_del1:
        if apply_del1.index(y)%2 ==0:
            ctc1.append(y)
        else:
            date1.append(y)
            
    
    apply_details2 = []
    for x in ctc2_aplly_date2:
        apply_details2.append(x.text.strip())
        
    apply_del2 = []
    for x in apply_details2:
        if x !='Starts\xa0Immediately':
            apply_del2.append(x)
    ctc2 = []
    date2 = []
    for y in apply_del2:
        if apply_del2.index(y)%2 ==0:
            ctc2.append(y)
        else:
            date2.append(y)
     
    apply_details3 = []
    for x in ctc3_aplly_date3:
        apply_details3.append(x.text.strip())
        
    apply_del3 = []
    for x in apply_details3:
        if x !='Starts\xa0Immediately':
            apply_del3.append(x)
    ctc3 = []
    date3 = []
    for y in apply_del3:
        if apply_del3.index(y)%2 ==0:
            ctc3.append(y)
        else:
            date3.append(y)
    CTC = ctc1 + ctc2 + ctc3
    Date = date1 + date2 + date3
    
    data['Job_Title'] = Job_Title
    data['Company_Name'] = Company_Name
    data['CTC'] = CTC
    data['Apply_Date'] = Date
    
    return data

In [ ]:
#Enter first url:  https://internshala.com/fresher-jobs

#Enter second url: https://internshala.com/fresher-jobs/page-2

# Enter the third ulr https://internshala.com/fresher-jobs/page-3

In [394]:
Fresher_Jobs_funct()

Enter first url https://internshala.com/fresher-jobs
Enter second url https://internshala.com/fresher-jobs/page-2
Enter the third ulr https://internshala.com/fresher-jobs/page-3

,Job_Title,Company_Name,CTC,Apply_Date
0,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA,17 Jul' 21
1,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA,17 Jul' 21
2,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA,17 Jul' 21
3,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA,17 Jul' 21
4,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA,17 Jul' 21
...,...,...,...,...
88,Business Development Executive,Square Select Estates,3 - 5 LPA,19 Jun' 21
89,Full Stack Flutter Developer,HeartShirt,3 - 3.5 LPA,19 Jun' 21
90,Associate Software Developer,Labellerr By Tensor Matics Private Limited,7 - 10 LPA,23 Jun' 21
91,Hardware Simulation Engineer,Keysight Technologies,4 - 7 LPA,19 Jun' 21
92,Software Development Engineer (Android),Internshala,6.6 - 8.28 LPA,19 Jun' 21

In [385]:
fort = ['',1,7,'']

In [386]:
print(fort)

['', 1, 7, '']

In [387]:
for x in fort:
    if x !='':
        print(x)

1
7